csharp_projects/HearthstoneFormsApp/.vs/
csharp_projects/HearthstoneFormsApp/HearthstoneFormsApp/bin/
csharp_projects/HearthstoneFormsApp/HearthstoneFormsApp/obj/
csharp_projects/ModelViewControllerSimpleApp/.vs/
csharp_projects/ModelViewControllerSimpleApp/ModelViewControllerSimpleApp/bin/
csharp_projects/ModelViewControllerSimpleApp/ModelViewControllerSimpleApp/obj/
csharp_projects/ModelViewControllerSimpleApp/Core/bin/
csharp_projects/ModelViewControllerSimpleApp/Core/obj/