csharp_projects/HearthstoneFormsApp/.vs/
csharp_projects/HearthstoneFormsApp/HearthstoneFormsApp/bin/
csharp_projects/HearthstoneFormsApp/HearthstoneFormsApp/obj/

csharp_projects/ModelViewControllerSimpleApp/.vs/
csharp_projects/ModelViewControllerSimpleApp/ModelViewControllerSimpleApp/bin/
csharp_projects/ModelViewControllerSimpleApp/ModelViewControllerSimpleApp/obj/
csharp_projects/ModelViewControllerSimpleApp/Core/bin/
csharp_projects/ModelViewControllerSimpleApp/Core/obj/
csharp_projects/ModelViewControllerSimpleApp/ApplicationModel/bin/
csharp_projects/ModelViewControllerSimpleApp/ApplicationModel/obj/
csharp_projects/ModelViewControllerSimpleApp/WebFormView/bin/
csharp_projects/ModelViewControllerSimpleApp/WebFormView/obj/
csharp_projects/ModelViewControllerSimpleApp/WebFormController/bin/
csharp_projects/ModelViewControllerSimpleApp/WebFormController/obj/

csharp_projects/ReactASPNetStart/.vs/

csharp_projects/ASPNetWebAppStart/.vs/

csharp_projects/ASPNetMVCStart/.vs/

csharp_projects/QuestionBank/.vs/

csharp_projects/QuestionBank/node_modules/